{% extends 'base.html.twig' %}

{% block title %}Mis eventos{% endblock %}

{% block body %}
  <main class="main_mis_eventos">
    <div class="bloque_contenedor clearfix">
      <section class="menu_tabla">

        <div class="crear_nuevo_evento">
          <a href="{{ path('tocketea_crear_evento') }}"><i class="fa fa-plus-square-o"></i> Crear evento</a>
        </div>

        <div class="filtrar_menu_tabla">

          <div class="num_eventos_tabla">
            <span>{{ events|length }} Eventos creados</span>
          </div>

          <form action="{{ path('tocketea_mis_eventos') }}" method="post" id="filtrarEventosCategoria">
            <div class="filtrar_eventos_por_categoria">
              <div>
                <span>Filtrar por: </span>
                <select name="categoriaMisEventos" id="filtroCategoria">
                  <option value="0" id="todosCategoria">Todas las categor&iacute;as</option>
                  {# foreach #}
                  {% for cat in globalParams.categorias %}
                    <option value="{{ cat.getId() }}">{{ cat.getNombre() }}</option>
                  {% endfor %}
                </select>
                <i class="fa fa-caret-down"></i>
              </div>
            </div>
          </form>
          <form action="{{ path('tocketea_mis_eventos') }}" method="post" id="filtrarEventosFecha">
            <div class="filtrar_eventos_futuros_pasados">
              <div>
                <select name="fechaMisEventos" id="filtroFecha">
                  <option value="0" id="todosFecha">Todas las fechas</option>
                  <option name="fechaMisEventos" value="pasados">Eventos Pasados</option>
                  <option name="fechaMisEventos" value="futuros">Eventos Futuros</option>
                </select>
              </div>
            </div>
          </form>

          <div class="filtrar_eventos_por_nombre">
            <form action="{{ path('tocketea_mis_eventos') }}" method="post">
              <input type="search" name="buscarMisEventos" placeholder="Buscar eventos" value="">
              <i class="fa fa-rocket"></i>
              <input type="submit" name="" value="">
            </form>
          </div>

        </div>
      </section>

      {# if (!empty($eventos)) #}
      {% if events is not empty%}
      <section class="tabla">
        <div class="tabla_responsive">

          <div class="info_columnas_tabla">
            <div class="columna_tabla_eventos">
              <span>T&iacute;tulo</span>
            </div>
            <div class="columna_tabla_eventos">
              <span>Precio</span>
            </div>
            <div class="columna_tabla_eventos">
              <span>Ventas</span>
            </div>
            <div class="columna_tabla_eventos">
              <span>Importe</span>
            </div>
            <div class="columna_tabla_eventos">
              <span>Ver</span>
            </div>
            <div class="columna_tabla_eventos">
              <span>Editar</span>
            </div>
            <div class="columna_tabla_eventos">
              <span>Borrar</span>
            </div>
          </div>

          {% for event in events %}
            <article class="fila_tabla">
              <div class="columna_tabla_eventos">
                {% if event.imagen is not null %}
                  <img src="{{ asset('img/evento/'~event.imagen) }}" alt="">
                {% else %}
                  <img src="{{ asset('img/evento/default.jpg') }}" alt="" title="default">
                {% endif %}
                <div>{{ event.titulo }}</div>
              </div>
              <div class="columna_tabla_eventos">
                <span>{{ event.precioEntradas }}€</span>
              </div>
              <div class="columna_tabla_eventos">
                <span>{{ event.totalEntradas - event.entradasRestantes }}</span>
              </div>
              <div class="columna_tabla_eventos">
                <span>{{ (event.totalEntradas - event.entradasRestantes) * event.precioEntradas }}</span>
              </div>
              <div class="columna_tabla_eventos">
                <a href="/eventos/{{ event.id }}"><i class="fa fa-eye"></i></a>
              </div>
              <div class="columna_tabla_eventos">
                <a href="/gestor/form_evento/{{ event.id }}"><i class="fa fa-pencil-square-o"></i></a>
              </div>
              <div class="columna_tabla_eventos">
                <a href="/gestor/eventos/{{ event.id }}/eliminar" class="borrar_elemento"><i class="fa fa-trash-o"></i></a>
              </div>
            </article>
          {% endfor %}

        </div>
      </section>
      {% endif %}

    </div>
  </main>

{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.5/sweetalert2.all.js"></script>
  <script type="text/javascript" src="{{ asset('js/crud.js') }}"></script>
  <script type="text/javascript" src="{{ asset('js/mis_eventos.js') }}"></script>
{% endblock %}
